body{
    margin: 0;
}

.wrapper{

}

header{
    background: lightgray;
    height: 150px;
    margin-bottom: 50px;
}
.game_board{
    margin: 0 auto;
    width: 600px;
    height: 400px;
}

.mark_spot{
    display: inline-block;
    width: 200px;
    height: 200px;
    line-height: 200px;
    background-color: #3c948b;
    color: #ffffff;
    text-align: center;
}
/* .modal is referring to the screen/window that pops up when New Game is clicked */
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    text-align: center;
    padding: 5px 20px 13px 20px;
    border-radius: 20px;
    background: #000000;
    color: white;
}
/* this is for the links in the popup board size selection screen */
.modalDialog button {
    border: 1px solid white;
    background-color: black;
    border-radius: 20%
}

/* this is for the links in the popup board size selection screen */
.modalDialog a:link,
.modalDialog a:active,
.modalDialog a:hover,
.modalDialog a:visited {
    color: white;
}

#new_game a:link,
#new_game a:active,
#new_game a:hover,
#new_game a:visited {
    float: right;
    bottom: 10%;
    display: inline-block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 15%;
    /*border: 1px solid black;*/
}
