/* Global Styles */
body{
 margin: 0;
}

h1{
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

/* Main Game Area */
.wrapper{
    height: 100%;
    background-color: #040508;
}

/* Navigation Area */

header{
    background-image: url("img/space-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.player1_side{
    background-image: url("img/american.png");
    background-repeat: no-repeat;
    width: 131px;
    height: 188px;
    float: left;
    position: relative;
    margin: 0 0 0 10px;
}

.player1_name {
    width: 100%;
    height: 60px;
    background-color: black;
    position: absolute;
    bottom: 0px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    color: white;
    font-family: 'Faster One', cursive;
}

.player2_side{
    background-image: url("img/russian.png");
    background-repeat: no-repeat;
    width: 131px;
    height: 188px;
    float: right;
    position: relative;
    margin: 0 10px 0 0;
}

.player2_name {
    width: 100%;
    height: 60px;
    background-color: black;
    position: absolute;
    bottom: 0px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: white;
    font-family: 'Faster One', cursive;
}

.game_logo{
    display: block;
    margin: 0 auto;
    padding: 1% 0 0 0;
    width: 200px;
}

/* notification_area */
.notification_area{
 height: 100px;
 background-color: #000000;
}

/* Main Game Area */
.game_board{
    text-align: center;
    font-size: 0;
    height: 100vh;
}

/* This is the area plays click on */
.selection_box{
    display: inline-block;
    width: 2vw;
    height: 2vw;
    background-color: #040508;
    color: #ffffff;
    text-align: center;
    border: 1px solid white;
    vertical-align: bottom;
    font-size: 2vh;
    text-align: center;
}

/* .modal is referring to the screen/window that pops up when New Game is clicked */
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    text-align: center;
    padding: 5px 20px 13px 20px;
    border-radius: 20px;
    background: #000000;
    color: white;
}

/* this is for the links in the popup board size selection screen */
.modalDialog button {
    border: 1px solid white;
    background-color: black;
    border-radius: 20%
}

/* this is for the links in the popup board size selection screen */
.modalDialog a:link,
.modalDialog a:active,
.modalDialog a:hover,
.modalDialog a:visited {
    color: white;
}

#new_game a:link,
#new_game a:active,
#new_game a:hover,
#new_game a:visited {
    float: right;
    bottom: 10%;
    display: inline-block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 15%;
    /*border: 1px solid black;*/
}

/* footer area */
footer{
    height: 5vh;
    background-color: #040508;
}
